:host
  svg
    &[class^=alain-default__header-logo]
      fill white
    &.alain-default__header-logo-expanded
      max-height 40px
    &.alain-default__header-logo-collapsed
      max-height 30px
  .alain-default__search
    max-width: 500px
